html,body
{
  margin:0;
  padding:0;
  height:100%;

  font-family: Consolas, monospace;
  background-color: #000;
}

#root
{
  padding: 1rem;
  color: #DDD;

  white-space: pre;

  overflow: hidden;
}

html.unfresh {
  background-color: #666;
}

html.unfresh #root > * {
  opacity: 0.25;
}

.meta { display: contents; }

#font_test
{
  font-family: Consolas, monospace;

  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}

.btn
{
  color: #48F;
  cursor: pointer;
}
.btn:hover
{
  text-decoration: underline;
}

.btn-danger { color: #B00; }
.btn-warn   { color: #F80; }
.btn-action { color: #48F; }

.maxlen
{
  display: inline-flex;
  overflow: hidden;
  text-overflow: '...';
}

.header {
  color: #B0B;
}

.job.state_Waiting, .job.queue_Queued {
  color: #888;
}

.job.state_Aborted .colProgress,
.job.state_Failed .colProgress {
  color: #C00;
}

.statecol.state_Waiting {

}
.statecol.state_Running {
  color: #F80;
}
.statecol.state_Finished {
  color: #080;
}
.statecol.state_Success {
  color: #0F0;
}
.statecol.state_Aborted {
  color: #F86;
}
.statecol.state_Failed {
  color: #F00;
}

.job.queue_Finished .btnAbort {
  visibility: hidden;
}
