

html,body {
    margin:0;
    padding:0;
    height:100%;
}

body{ 
    background-color:#eee;
    color:#333;
    font-family:"Helvetica","Arial",sans-serif;
}

#root {
    min-height: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

header {
    font-family:"Roboto","Courier",sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    color: #ccc;
    left: 0;
    right: 0;
    margin: 0 auto;
}

footer hr {
    margin-bottom: 5px;
    display: block;
    border: 0;
    color: white;
    height: 1px;
    background: #ccc;
    background: -webkit-gradient(radial,50% 50%,0,50% 50%,350,from(#CCCCCCFF),to(#FFFFFF00));
}

footer a {
    color: #aaf;
}

.hidden {
    display: none !important;
}


header {    
    z-index: 999;
    position: fixed;
    width: calc(100% - 1rem);
    
    display: grid;
    grid-template-columns: auto 1fr auto;
    
    background: #AAA;
    border-bottom: 1px solid #888;
    padding: 0.5rem;
}

header .logo {
    grid-column: 1;
}

header .logo .apptitle {
    font-weight: bold;
    font-size: 1.5rem;
}

header .logo .apppath {
    font-style: italic;
    font-family: "Courier New",monospace;
    opacity: 0.5;
}

header .logo .apppath.single i {
    display: none;
}

header .logo .apppath.multiple {
    border: 1px solid #000;
    background: #FFF;
    font-style: normal;
    margin-top: 4px;
    padding: 0.1rem 0.25rem;
    opacity: 1.0;
    
    cursor: pointer;
    
    display: flex;
    align-items: center;
    
    user-select: none;
}

header .logo .apppath.multiple i {
    margin-left: 0.33rem;
}

header .buttons {
    grid-column: 3;
    display: flex;
    align-items: center;
}

header .btn {
    min-width: 24px;
    min-height: 24px;
    margin: 4px;
    border: 1px solid #000;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #666;
    color: #EEE;
    cursor: pointer;
}

header .btn:hover {
    background-color: #44A;
}

main {
    display: flex;
    justify-content: center;
    
    padding-top:     80px; /* space for header */
    padding-bottom: 100px; /* space for footer */
    
    margin-left: 1rem;
    margin-right: 1rem;
}


#toast {
    position: fixed;
    
    right: 0px;
    
    width: 100%;
    max-width: 300px;
    margin: 0 16px;
    
    background-color: #666;
    border: 1px solid #222;
    border-radius: 2px;
    box-shadow: 0 0 12px -4px #000;
    
    color: #fff;
    font-size: 16px;
    
    padding: 6px;
    user-select: none;
    
    transition: top 350ms, opacity 350ms;
    
    text-align: center;
}

#toast:not(.active):not(.vanished) {
    top: -10px;
    opacity: 1.0;
}

#toast.active {
    top: 84px;
    opacity: 1.0;
}

#toast.active.vanished {
    top: 84px;
    opacity: 0.0;
    transition: top none, opacity 350ms;
}

#toast.vanished:not(.active) {
    top: -10px;
    opacity: 0.0;
    transition: none;
}

.apppath_dropdown {
    display: flex;
    flex-direction: column;
    background: #FFF;
    border: 1px solid #000;
    border-bottom: none;

    margin-top: -1px;
    
    position: absolute;
}

.apppath_dropdown .row {
    border-bottom: 1px solid #000;
    
    padding: 0 0.33rem;
    
    cursor: pointer;
    
    user-select: none;
}

.apppath_dropdown .row:hover {
    background: #CCF;
}


/* https://loading.io/css/ */

#content:not(:empty) + .lds-grid {
    display: none !important;
}

.lds-grid {
    position: fixed;
    top:  calc(50% - 40px);
    left: calc(50% - 40px);
}

.lds-grid {
    display: inline-block;
    width: 80px;
    height: 80px;

    transform: scale(3);
}
.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #888;
    animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}
@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}