

html,body {
    margin:0;
    padding:0;
    height:100%;
}

body{ 
    background-color:#eee;
    color:#333;
    font-family:"Helvetica","Arial",sans-serif;
}

header {
    font-family:"Roboto","Courier",sans-serif;
}

.hidden {
    display: none !important;
}


header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    
    background: #AAA;
    border-bottom: 1px solid #888;
    padding: 0.5rem;
}

header .logo {
    grid-column: 1;
}

header .logo .apptitle {
    font-weight: bold;
    font-size: 1.5rem;
}

header .logo .apppath {
    font-style: italic;
    font-family: "Courier New",monospace;
    opacity: 0.5;
}


header .buttons {
    grid-column: 3;
    display: flex;
    align-items: center;
}

header .btn {
    min-width: 24px;
    min-height: 24px;
    margin: 4px;
    border: 1px solid #000;
}

main {
    display: flex;
    justify-content: center;
}



