

html,body {
    margin:0;
    padding:0;
    height:100%;
}

body{
    background-color:#eee;
    color:#333;
    font-family:"Helvetica","Arial",sans-serif;
}

#root {
    min-height: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

header {
    font-family:"Roboto","Courier",sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    color: #ccc;
    left: 0;
    right: 0;
    margin: 0 auto;
}

footer hr {
    margin-bottom: 5px;
    display: block;
    border: 0;
    color: white;
    height: 1px;
    background: #ccc;
    background: -webkit-gradient(radial,50% 50%,0,50% 50%,350,from(#CCCCCCFF),to(#FFFFFF00));
}

footer a {
    color: #aaf;
}

.hidden {
    display: none !important;
}


header {
    z-index: 50;
    position: fixed;
    width: calc(100% - 1rem);

    display: grid;
    grid-template-columns: auto 1fr auto;

    background: #AAA;
    border-bottom: 1px solid #888;
    padding: 0.5rem;
}

header .logo {
    grid-column: 1;
}

header .logo .apptitle {
    font-weight: bold;
    font-size: 1.5rem;
}

header .logo .apppath {
    font-style: italic;
    font-family: "Courier New",monospace;
    opacity: 0.5;
}

header .logo .apppath.single i {
    display: none;
}

header .logo .apppath.multiple {
    border: 1px solid #000;
    background: #FFF;
    font-style: normal;
    margin-top: 4px;
    padding: 0.1rem 0.25rem;
    opacity: 1.0;

    cursor: pointer;

    display: flex;
    align-items: center;

    user-select: none;
}

header .logo .apppath.multiple i {
    margin-left: 0.33rem;
}

header .buttons {
    grid-column: 3;
    display: flex;
    align-items: center;
}

header .btn {
    min-width: 24px;
    min-height: 24px;
    margin: 4px;
    border: 1px solid #000;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #666;
    color: #EEE;
    cursor: pointer;
    text-decoration: none;
}

header .btnpad {
    width: 1.5rem;
}

header .btn:hover {
    background-color: #44A;
}

main {
    display: flex;
    justify-content: center;

    padding-top:     80px; /* space for header */
    padding-bottom: 100px; /* space for footer */

    margin-left: 1rem;
    margin-right: 1rem;
}


#toast {
    position: fixed;

    right: 0px;

    width: 100%;
    max-width: 300px;
    margin: 0 16px;

    background-color: #666;
    border: 1px solid #222;
    border-radius: 2px;
    box-shadow: 0 0 12px -4px #000;

    color: #fff;
    font-size: 16px;

    padding: 6px;
    user-select: none;

    transition: top 350ms, opacity 350ms;

    text-align: center;
}

#toast:not(.active):not(.vanished) {
    top: -10px;
    opacity: 1.0;
}

#toast.active {
    top: 84px;
    opacity: 1.0;
}

#toast.active.vanished {
    top: 84px;
    opacity: 0.0;
    transition: top none, opacity 350ms;
}

#toast.vanished:not(.active) {
    top: -10px;
    opacity: 0.0;
    transition: none;
}

#apppath_dropdown {
    display: flex;
    flex-direction: column;
    background: #FFF;
    border: 1px solid #000;
    border-bottom: none;

    margin-top: -1px;

    position: absolute;

    z-index: 65;
}

#apppath_dropdown .row {
    border-bottom: 1px solid #000;

    padding: 0 0.33rem;

    cursor: pointer;

    user-select: none;
}

#apppath_dropdown .row:hover {
    background: #CCF;
}

#option_dropdown {
    display: flex;
    flex-direction: column;
    background: #FFF;
    border: 1px solid #000;
    border-bottom: none;

    margin-top: -1px;

    position: fixed;
    right: calc(0.5rem + 4px);
    top: 55px;

    min-width: 218px;

    z-index: 65;
}

#option_dropdown .row {
    border-bottom: 1px solid #000;

    padding: 0 0.33rem;

    cursor: pointer;

    user-select: none;
}

#option_dropdown .row.active {
    font-weight: bold;
    background-color: #AFA;
}

#option_dropdown .row:hover {
    background: #CCF;
}

#dropdown_background {
    position: fixed;
    display: block;

    z-index: 40;

    background-color: rgba(0, 0, 0, 0.001);

    left:   0;
    width:  100vw;

    height: calc(100vh - 64px);
    top:    64px;
}

