
#content.lstyle_grid {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
}

#content.lstyle_grid .flexrowfiller {
  margin: 0 0.33rem;
  padding: 0 2px;
  border: 1px solid transparent;
  display: flex;
}
#content.lstyle_grid .flexrowfiller .pseudo
{
  width: 12rem;
  height: 0;
}

#content.lstyle_grid .video_entry {
  margin: 0.33rem;
  padding: 2px;

  display: grid;
  grid-template-rows:    auto 1fr;
  grid-template-columns: auto;

  cursor: pointer;
}

#content.lstyle_grid .video_entry:hover { }

#content.lstyle_grid .table_header { display: none; }

#content.lstyle_grid .video_entry > * {
  display: none;
}

#content.lstyle_grid .video_entry .thumbnail {
  grid-column: 1;
  grid-row:    1;

  width:  12rem;

  display: flex;
  flex-direction: column;

  align-items: start;
}

#content.lstyle_grid .video_entry .thumbnail .thumbnail_img {
  width:  12rem;
  height: 6.75rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #000;
}

#content.lstyle_grid .video_entry .thumbnail .thumbnail_img img {
  max-height: 100%;
  max-width: 100%;
}

#content.lstyle_grid .video_entry .likedislikebar {
  display: flex;

  border-top: 1px solid transparent;
  min-height: 4px;
  width: 100%;
}

#content.lstyle_grid .video_entry .likedislikebar .like_bar    { background: #0A0; display: flex; justify-content: center; align-items: center; }
#content.lstyle_grid .video_entry .likedislikebar .dislike_bar { background: #D00; display: flex; justify-content: center; align-items: center; }

#content.lstyle_grid .video_entry .likedislikebar .like_bar_count    { display: none; }
#content.lstyle_grid .video_entry .likedislikebar .dislike_bar_count { display: none; }

#content.lstyle_grid .video_entry .title {
  grid-column: 1;
  grid-row:    2;

  display: inherit;

  max-width: calc(12rem - 0.1rem - 0.1rem);

  margin: 0.5rem 0.1rem 0.1rem 0.1rem;

  justify-content: start;
  align-items: start;

  word-break: break-word;
}

#content.lstyle_grid .video_entry .duration {
  grid-column: 1;
  grid-row: 1;

  justify-self: right;
  align-self: start;

  background-color: rgba(255, 255, 255, 0.75);
  padding: 0 4px;
  margin: 0;

  font-size: 0.8rem;
  font-family: "Courier New",monospace;
}

#content.lstyle_grid .video_entry:hover .duration {
  display: inherit;
}

#content.lstyle_grid.lstyle_videomode_3 .video_entry.webm-cached .icon_cached {
  grid-column: 1;
  grid-row: 1;

  justify-self: left;
  align-self: start;

  display: inherit;

  margin: 4px;

  font-size: 0.7rem;
  color: #0B0;

  background: rgba(0, 0, 0, 0.65);
  padding: 2px;
  border-radius: 4px;

  z-index: 1;
}

/* ----------------------------------------------------------------------------- */

#content.lstyle_grid.lstyle_x2 .video_entry .thumbnail {
  width:  20rem;
}

#content.lstyle_grid.lstyle_x2 .video_entry .thumbnail .thumbnail_img {
  width:  20rem;
  height: 11.25rem;
}

#content.lstyle_grid.lstyle_x2 .video_entry .title {
  max-width: 20rem;
}