
#content.lstyle_compact {
  display: flex;
  flex-direction: column;
}

#content.lstyle_compact .video_entry {
  margin: 1px;
  padding: 2px;
  
  display: grid;
  grid-template-rows:    auto;
  grid-template-columns: auto 1fr auto;
  
  cursor: pointer;
}

#content.lstyle_compact .video_entry:hover { }

#content.lstyle_compact .table_header { display: none; }

#content.lstyle_compact .video_entry > * {
  display: none;
}

#content.lstyle_compact .video_entry .thumbnail {
  grid-column: 1;
  grid-row:    1;
  
  display: flex;
  
  height: 1.5rem;
}

#content.lstyle_compact .video_entry .thumbnail .thumbnail_img {
  width:  2.666rem;
  height: 1.5rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  background: #000;
}

#content.lstyle_compact .video_entry .thumbnail .thumbnail_img img {
  max-height: 100%;
}

#content.lstyle_compact .video_entry .thumbnail .likedislikebar {
  display: none;
}

#content.lstyle_compact .video_entry .title {
  grid-column: 2;
  grid-row:    1;

  display: flex;

  margin-top: -2px; /* text center ??!? */
  align-items: center;
  margin-left: 0.5rem;

  font-family:"Helvetica","Arial",sans-serif;
  font-size: 0.95rem;
  font-weight: bold;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#content.lstyle_compact .video_entry > .upload_date {
  grid-column: 3;
  grid-row:    1;
  
  display: flex;
  
  align-items: center;
  margin-left: 0.5rem;
  
  opacity: 0.5;
}

