@page
@using youtube_dl_viewer.Pages
@model IndexModel
<!DOCTYPE html>

<html lang="en">
<head>
    <title>youtube-dl Viewer @Model.BaseDir</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/style_width.css">
    <link rel="stylesheet" type="text/css" href="/style_compact.css">
    <link rel="stylesheet" type="text/css" href="/style_detailed.css">
    <link rel="stylesheet" type="text/css" href="/style_grid.css">
    <link rel="stylesheet" type="text/css" href="/style_tabular.css">
    <script src="/script.js"></script>
</head>
<body>

<!-- -------------------------------------------------------------------------- -->

<div id="json_data" class="hidden" data-json="@Model.RawData"></div>

<!-- -------------------------------------------------------------------------- -->

<header>
    <div class="logo">
        <div class="apptitle">youtube-dl Viewer <span class="version">@Model.Version</span></div>
        <div class="apppath">@Model.BaseDir</div>
    </div>

    <div class="buttons">
        <div class="btn btn-display">D</div>
        <div class="btn btn-order">O</div>
        <div class="btn btn-width">W</div>
    </div>

</header>

<!-- -------------------------------------------------------------------------- -->

<main>
    <div class="lstyle_detailed lstyle_width_medium" id="content">
    <!-- js -->
    </div>
</main>

<!--- -------------------------------------------------------------------------- -->

<footer>
    <hr/>
    youtube-dl Viewer (c) <a href="https://www.mikescher.com">mikescher.com</a> 2020
</footer>

<!-- -------------------------------------------------------------------------- -->

</body>
</html>