@page
@using youtube_dl_viewer.Pages
@model IndexModel
<!DOCTYPE html>

<html>
<head>
    <title>youtube-dl Viewer @Model.BaseDir</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<main>
    <div id="json_data" class="hidden" data-json="@Model.RawData"></div>
    Hello 2
</main>
</body>
</html>