@page
@using youtube_dl_viewer.Pages
@model IndexModel
<!DOCTYPE html>

<html lang="en">
<head>
    <title>youtube-dl Viewer @Model.BaseDir</title>
    
    <link rel="stylesheet" type="text/css" href="/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="/solid.css">
    <link rel="stylesheet" type="text/css" href="/regular.css">
    
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/style_width.css">
    <link rel="stylesheet" type="text/css" href="/style_video.css">
    
    <link rel="stylesheet" type="text/css" href="/style_compact.css">
    <link rel="stylesheet" type="text/css" href="/style_detailed.css">
    <link rel="stylesheet" type="text/css" href="/style_detailed_expanded.css">
    <link rel="stylesheet" type="text/css" href="/style_grid.css">
    <link rel="stylesheet" type="text/css" href="/style_tabular.css">
    
    <script src="/script.js"></script>
    
</head>

<body>

<div id="root">

    <header>
        <div class="logo">
            <div class="apptitle">youtube-dl Viewer <span class="version">@Model.Version</span></div>
            <div class="apppath">@Model.BaseDir</div>
        </div>

        <div class="buttons">
            <div class="btn btn-display"><i class="far fa-eye"></i></div>
            <div class="btn btn-order"><i class="fas fa-sort"></i></div>
            <div class="btn btn-width"><i class="fas fa-text-width"></i></div>
            <div class="btn btn-refresh"><i class="fas fa-sync-alt"></i></div>
            <div class="btn btn-loadthumbnails" data-mode="1"><i class="fas fa-photo-video"></i></div>
            <div class="btn btn-videomode" data-mode="0"><i class="fas fa-broadcast-tower"></i></div>
        </div>

    </header>

    <main>
        <div class="lstyle_detailed lstyle_width_medium" id="content">
            <!-- js -->
        </div>
    </main>

    <footer>
        <hr/>
        youtube-dl Viewer (c) <a href="https://www.mikescher.com">mikescher.com</a> 2020
    </footer>


</div>

<div id="toast"></div>

</body>
</html>