@page
@using youtube_dl_viewer
<!DOCTYPE html>

<html lang="en">
<head>
    <title>youtube-dl Viewer [JobManager] v@(Program.Version)</title>
    
    @if (Program.DEBUG)
    {
        @foreach (var css in Router.CSS_JOBS) { <link rel="stylesheet" type="text/css" href="/@css.Item2"> }
    }
    else
    {
        <link rel="stylesheet" type="text/css" href="/style_jobs.combined.css">
    }
    
    @if (Program.DEBUG)
    {
        @foreach (var js in Router.JS_JOBS) { <script src="/@js"></script> }
    }
    else
    {
        <script src="/script_main.compiled.js"></script>
    }
    
</head>

<body>

<div id="root">Loading...</div>

<div id="font_test">M</div>
</body>
</html>