@page
@using youtube_dl_viewer
<!DOCTYPE html>

<html lang="en">
<head>
    <title>youtube-dl Viewer [JobManager] v@(Program.Version)</title>
    
    <link rel="stylesheet" type="text/css" href="/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="/solid.css">
    <link rel="stylesheet" type="text/css" href="/regular.css">
    
    <link rel="stylesheet" type="text/css" href="/style_jobs.css">
    
    <script src="/script_jobs.js"></script>
    
</head>

<body>

<div id="root">

</div>

<div id="font_test">M</div>
</body>
</html>