@page
@model youtube_dl_viewer.Pages.Test
<!DOCTYPE html>

<html lang="en">
<head>
    <title>Test</title>
</head>
<body>
<div>
    @foreach(var d in Model.Data) {
        <hr/>
        @d
    }
</div>
</body>
</html>